* {
  box-sizing: border-box; }

#mainContainer .navigation {
  background-color: lightgray;
  margin-bottom: 3em;
  padding: 2em; }
  #mainContainer .navigation ul {
    list-style-type: none; }
    #mainContainer .navigation ul li {
      display: inline;
      margin: 0 3em; }
#mainContainer #filterContainer {
  margin-bottom: 1em; }
  #mainContainer #filterContainer .filter {
    background-color: lightgray;
    padding: .5em; }
#mainContainer table, #mainContainer th, #mainContainer tr, #mainContainer td {
  border: 1px solid grey; }
#mainContainer .totalRow {
  font-weight: bold; }
#mainContainer #inputContainer {
  height: 800px;
  overflow: scroll; }
#mainContainer .inputArea {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey; }
  #mainContainer .inputArea .descArea, #mainContainer .inputArea .monthArea {
    margin-top: 1em; }
  #mainContainer .inputArea .descArea {
    padding: 1.5em 0 0 1em; }
  #mainContainer .inputArea .type {
    float: left;
    width: 49%; }
  #mainContainer .inputArea .total {
    float: right;
    width: 49%; }
  #mainContainer .inputArea .monthArea {
    display: flex; }
    #mainContainer .inputArea .monthArea .cellWrapOne, #mainContainer .inputArea .monthArea .cellWrapTwo, #mainContainer .inputArea .monthArea .cellWrapThree, #mainContainer .inputArea .monthArea .cellWrapFour {
      margin-right: 1em; }
      #mainContainer .inputArea .monthArea .cellWrapOne label, #mainContainer .inputArea .monthArea .cellWrapTwo label, #mainContainer .inputArea .monthArea .cellWrapThree label, #mainContainer .inputArea .monthArea .cellWrapFour label {
        float: left;
        width: 20%;
        line-height: 2.5em;
        text-align: right;
        padding-right: .5em; }
      #mainContainer .inputArea .monthArea .cellWrapOne input, #mainContainer .inputArea .monthArea .cellWrapTwo input, #mainContainer .inputArea .monthArea .cellWrapThree input, #mainContainer .inputArea .monthArea .cellWrapFour input {
        float: right;
        width: 75%; }
    #mainContainer .inputArea .monthArea .cellWrapTwo label, #mainContainer .inputArea .monthArea .cellWrapThree label, #mainContainer .inputArea .monthArea .cellWrapFour label {
      padding: 1.5em .5em 0 0; }
    #mainContainer .inputArea .monthArea .qColumn, #mainContainer .inputArea .monthArea .notesColumn {
      flex-direction: column; }
    #mainContainer .inputArea .monthArea .notesColumn {
      margin: 0 1em; }
      #mainContainer .inputArea .monthArea .notesColumn textarea {
        height: 7em; }
#mainContainer #buttons {
  margin: 2em 0 5em 0; }
  #mainContainer #buttons .addButton {
    background-color: #3c3c3c;
    padding: .5em;
    color: white; }
  #mainContainer #buttons .saveButton {
    background-color: #5f5f5f;
    padding: .5em;
    color: white; }
  #mainContainer #buttons .cancelButton {
    background-color: white;
    border: 1px solid black;
    padding: .5em; }
  #mainContainer #buttons .confirmButtons {
    float: right; }
