* {
  box-sizing: border-box;
}


#mainContainer {

  .navigation {
    background-color: lightgray;
    margin-bottom: 3em;
    padding: 2em;

    ul {
      list-style-type: none;
      
      li {
        display: inline;
        margin: 0 3em;
      }
    }
  }

  #filterContainer {
    margin-bottom: 1em;

    .filter {
      background-color: lightgray;
      padding: .5em;
    }
  }

  table, th, tr, td {
    border: 1px solid grey;
  }

  .totalRow {
    font-weight: bold;
  }

  #inputContainer {
    height: 800px;
    overflow: scroll;
  }

  .inputArea {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;

    .descArea, .monthArea {
      margin-top: 1em;
    }

    .descArea {
      padding: 1.5em 0 0 1em;
    }
    
    .type {
      float: left;
      width: 49%;
    }

    .total {
      float: right;
      width: 49%;
    }

    .monthArea {
      display: flex;

      .cellWrapOne, .cellWrapTwo, .cellWrapThree, .cellWrapFour {
        margin-right: 1em;

        label {
          float: left;
          width: 20%;
          line-height: 2.5em;
          text-align: right;
          padding-right: .5em;
        }

        input {
          float: right;
          width: 75%;
        }
      }

      .cellWrapTwo, .cellWrapThree, .cellWrapFour {
        label {
          padding: 1.5em .5em 0 0;
        }
      }

      .qColumn, .notesColumn {
        flex-direction: column;
      }

      .notesColumn {
        margin: 0 1em;

        textarea {
          height: 7em;
        }
      }
    }
  }

  #buttons {
    margin: 2em 0 5em 0;

    .addButton {
      background-color: #3c3c3c;
      padding: .5em;
      color: white;
    }

    .saveButton {
      background-color: #5f5f5f;
      padding: .5em;
      color: white;
    }

    .cancelButton {
      background-color: white;
      border: 1px solid black;
      padding: .5em;
    }

    .confirmButtons {
      float: right;
    }
  }

}
